body {
    background-image: url("../images/bg.png");
    background-repeat: repeat;
}

#css_logo {
    font-family: 'Fascinate Inline', cursive;
    font-size: 75px;
}

#beericon {
    cursor: pointer;
}

#beericon:hover {
    color: darkkhaki !important;
}

.css_option {
    font-size: 120px;
}

.css_optcol:hover {
    color: darkkhaki !important;